/* Editing color for primary */
.btn-primary {
  background-color: #282c34;
  border: 1px solid #282c34;
  font-size: 16px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #00ECF9;
  color: #282c34;
  border: 1px solid #00ECF9;
}

.app-header {
  font-size: 55px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 20px;
}

.card-extras {
  width: 18rem;
  box-shadow: 2px 4px 4px #00ECF9;
}

.card-title {
  color: #282c34;
}

.card-text {
  color: #282c34;
  font-size: 60px;
  font-weight: 300;
}